<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-do App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Modak&family=Shadows+Into+Light&display=swap" rel="stylesheet">
  </head>
  <body>

    <!-- As a link -->
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand Yolo" href="#">To Do App</a>
    </nav><br>

    <div class="container">
      <h1>Add Item</h1>
      <label for="to-do"></label>
      <form action="add_todo/"  method="post">
        {% csrf_token %}
        <input name="content" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="type here...">
        <input class="btn btn-primary" type="submit" name="" value="submit">
      </form>
      <div class="row mt-4">
        <div class="col">
          <ul class="list-group">
            {% for todo_item in todo_items %}
            <li class="list-group-item"> {{ todo_item.text }}
              <div class="float-right">
                  <form class="" action="delete_todo/{{todo_item.id}}/" method="post">
                  {% csrf_token %}
                  <input type="submit" name="Delete" value="Delete" class="btn btn-danger">
                  </form>

              </div>



            </li>
            {% endfor %}
          </ul>

        </div>

      </div>


    </div>



  <script src="{% static 'js/style.js' %}">
  </script>

  </body>

  {% block body_block%}
  {% endblock %}
</html>
